# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConceptsOfProgramDesign/Debug
/ConceptsOfProgramDesign/x64/Debug
/Debug
/x64/Debug
/ipch/CONCEPTSOFPROGRAMDESIGN-268f0f1d
/ConceptsOfProgramDesign.VC.db
/ConceptsOfProgramDesign.VC.VC.opendb
